body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

/* Applies to all pages to contain them */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 95%;
  margin: auto;
}

/* Grid for a full bar for the top and bottom columns */

.fullbar {
  grid-column: span 3 / auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 5px 10px;
  display: inline;
  padding: 10px;
}

/* logout button */

.header input[type="submit"] {
  border: none;
  outline: none;
  height: 30px;
  width: 80px;
  background: #000000;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  align-content: flex-end;
  display: inline;
  float: right;
}

.header h3 {
  color: black;
  display: inline;
}

.section {
  grid-column: span 2 / auto;
  background-size: cover;
  height: 100%;
  background-position: center right;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  box-shadow: 5px 10px;
}

.section h1 {
  color: rgb(39, 42, 196);
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

.section input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background: rgb(154, 205, 50);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  align-content: flex-end;
}

.section input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox {
  width: 320px;
  height: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 30px;
}

#login {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}

.registerbox {
  width: 320px;
  height: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 30px;
}

#register {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.registerbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.registerbox input {
  width: 100%;
  margin-bottom: 20px;
}

.registerbox select {
  width: 100%;
  height: 30px;
  font-size: 13px;
  margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.registerbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.registerbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.registerbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.registerbox a:hover {
  color: #ffc107;
}

.nav {
  list-style: none;
  background: #20282D;
  height: fit-content;
  background-position: center right;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-radius: 5px;
}

.content {
  grid-column: span 2 / auto;
  background-size: cover;
  height: fit-content;
  background-position: center right;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  box-shadow: 5px 10px;
}

.footer {
  color: #000;
  text-align: center;
  padding: 50px;
}

/* ===[ Dark Button CSS ]=== */

.button {
  outline: 0;
  padding: 5px 12px;
  width: 80%;
  display: block;
  color: #9fa8b0;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
}

.button:hover {
  color: #fff;
}

.active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #28b1de;
  padding: 6px 12px 4px;
}

/* admin page ul list */

.vertical-list {
  list-style-type: none;
}

.vertical-list .button {
  border-radius: 5px;
  background: #515B62;
}

.vertical-list .button:hover {
  background: #5F6B72;
}

.vertical-list li {
  margin: 0 0 5px;
}

.vertical-list li:last-child {
  margin: 0
}

/* admin dashboard table design */

table {
  width: 100%;
  min-width: 100px;
  background-color: #20262e;
  color: #fff;
  overflow: hidden;
  table-layout: fixed;
}

tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

th {
  color: #28b1de;
  height: 20px;
}

.td {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* the numbers row */

.no {
  width: 40px;
}

th, table td {
  margin: .5rem 2rem;
  text-align: left;
}

td:first-child {
  padding-top: 1rem;
}

td:last-child {
  padding-bottom: 1rem;
}

td:before {
  font-weight: bold;
  min-width: 8rem;
}

/* table buttons */

.reply {
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  color: #28b1de;
  text-align: center;
}

.reply:hover {
  border-color: rgb(20, 245, 13);
}

.decline {
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  color: #fb2525;
  text-align: center;
}

.decline:hover {
  border-color: rgb(20, 245, 13);
}

.approve {
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  color: #47d32b;
  text-align: center;
}

.approve:hover {
  border-color: rgb(20, 245, 13);
}

/* admin single page requests page */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

/* users dash page */

p {
  display: inline-block;
}

/* ADMIN DETAILS FORM */

textarea {
  width: 70%;
  column-count: auto;
  font-size: 15px;
}

.detailsbuttons {
  margin: 20px;
}

.next {
  margin: 20px;
}

.title input {
  width: 40%;
  margin-bottom: 20px;
}

.title input[type="text"] {
  border: none;
  border-bottom: 1px solid rgb(5, 5, 5);
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(5, 5, 5);
  font-size: 16px;
}